@import "../../styles/app.scss";

.container {
  border-radius: 0.2rem;
  box-shadow: rgba(56, 112, 164, 0.171) 0px 0px 3px 1px;
  padding: 1rem;

  form {
    select {
      @include filter_select;
    }

    input {
      @include filter_input;
    }

    .first_filters {
      display: grid;
      grid-template-columns: 40% 60%;
      align-items: center;
      row-gap: 1rem;
    }

    .price_range {
      margin: 1rem 0rem;
      display: grid;
      grid-template-columns: 40% 60%;
      row-gap: 1rem;
      align-items: center;

      > div {
        grid-column: 2;

        select {
          @include filter_select;
          width: 100%;
        }
      }
    }

    .showmore_btn_container {
      display: flex;
      gap: 0.5rem;
      justify-content: flex-end;

      button {
        @include button($blue_2, $blue_3);
        padding: 0.5rem;
        border-radius: 0.2rem;
        display: flex;
        align-items: flex-end;
      }
    }

    .search_btn_container {
      margin-top: 0.5rem;

      button {
        @include button;
        width: 100%;
      }
    }

    .clean_btn_container {
      border-top: 1px solid $blue_2;
      padding-top: 1rem;
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;

      button {
        @include button;
        width: 50%;
      }
    }
  }
}
