@import '../../styles//app.scss';

.card_container {
  height: 210px;
  margin-bottom: 2rem;
  display: flex;
  border-radius: .2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;

  .image_container {
    background-color: aqua;

    .image{
      border-bottom-left-radius: .2rem;
      border-top-left-radius: .2rem;
    }
  }

  .info_container {
    padding: 0.5rem 1rem;
    flex-grow: 1;

    display: flex;
    flex-flow: column;
    height: 100%;

    .title {
      margin-bottom: 0.2rem;
      font-size: 1.5rem;
    }

    .adress {
      font-size: 1.2;
      color: gray;
    }

    .price {
      display: flex;
      gap: 0.5rem;

      >p{
        margin-top: 1rem;
        font-size: 1.4rem;
        font-weight: 500;
      }
      >p:last-child{
        font-weight: 400;
      }
    }

    .property_info {
      flex: 1 1 auto;
      display: flex;
      font-size: 1.1rem;
    }

    .area,
    .ambience {
      margin-top: auto;
      flex: 1;

      > p {
        margin-bottom: 0.5rem;
      }
    }

    .real_estate {
      margin-left: auto;
      margin-top: auto;
      font-size: 1.2rem;
      font-weight: 500;
      color: $blue_1;
    }

    span {
      font-weight: bold;
    }
  }
}
