@import '../../styles/app.scss';

.container{
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    margin-top: 2rem;

    p{
        font-weight: 500;
        font-size: .9rem;
    }

    select{
        border: none;
        color: $blue_1;
    }
}