$blue_1: #133c55;
$blue_2: #386fa4;
$blue_3: #59a5d8;
$blue_4: #84d2f6;
$blue_5: #91e5f6;

@mixin app_width($max-width: 1100px) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

@mixin filter_select {
  padding: 0.4rem;
  border-radius: 0.2rem;
  border-color: $blue_2;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  &:focus {
    outline: none;
    border: 1px solid $blue_3;
    border-radius: 0.2rem;
    box-shadow: none;
  }
}

@mixin filter_input($border_color: $blue_2) {
  padding: 0.4rem;
  border-radius: 0.2rem;
  font-weight: 600;
  border: 1px solid $border_color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

  &:focus {
    outline: none;
    border: 1px solid $blue_3;
    border-radius: 0.2rem;
    box-shadow: none;

  }
}

@mixin media_button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 0.2rem;
  border: 1px solid gray;
  cursor: pointer;
}

@mixin button($bg_color: $blue_1, $bg_color_hover: $blue_2) {
  padding: 0.5rem 1rem;
  background-color: $bg_color;
  border-radius: 0.2rem;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: $bg_color_hover;
  }
}
