@import "../../styles/app.scss";

.container {
  @include app-width;
  margin-top: 1rem;

  .info_container {
    margin-top: 2rem;
    padding: 1rem;
    width: 79.5%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.1rem;

    span {
      font-weight: 500;
    }

    .operation {
      > p {
        display: inline-block;
        border: 1px solid aqua;
        padding: 0.3rem 1rem;
        border-radius: 2rem;
      }
    }

    .price {
      margin-top: 1rem;
      display: flex;
      gap: 0.5rem;
      font-weight: 500;
      font-size: 2rem;
    }

    .info {
      margin-top: 1rem;
      display: flex;
      column-gap: 1.5rem;
      row-gap: 0.5rem;
      flex-wrap: wrap;

      >p{
        display: flex;
        align-items: flex-end;
        gap: .3rem;
      }
    }
  }

  .description {
    margin-top: 1rem;
    margin-bottom: 5rem;
    width: 79.5%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.1rem;
    >p{
      &:first-child{
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
