@import "../../styles/app.scss";

.container {
  @include app-width;
  margin-top: 1rem;

  .info {
    margin-top: 2rem;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    .price {
      display: flex;
      gap: 0.5rem;

      font-weight: 700;
      font-size: 2rem;
    }
  }
}
