@import "../../../styles/app.scss";

@mixin input_button {
  background-color: transparent;
  font-weight: 600;
  border: 1px solid $blue_3;
  padding: 0.5rem;
  // box-shadow: $blue_3 1px 1px 1px;

  &:hover {
    border: 1px solid $blue_4;
    box-shadow: none;
    cursor: pointer;
  }
}

.container {
  margin-top: 3rem;

  label {
    @include input_button;
    font-size: 0.8rem;
    text-align: center;
    // width: 50%;
    border-radius: 1rem;
    background-color: white;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + label {
    background-color: $blue_4;
  }

  > div {
    padding: 0.5rem 0;
    > div {
      padding-bottom: 0.2rem;
      &:first-child {
        border-bottom: 1px solid $blue_3;
        margin-bottom: 1rem;
      }
    }
  }

  .antique_input_container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label{
      width: 50%;
    }

    
  }

  .ambiences_input_container {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    // display: flex;
    // flex-direction: column;

  }

  .range_container {
    width: 60%;
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 0.5rem;
    align-items: center;

    label{
      background-color: transparent;
      border: none;
      font-size: .9rem;
    }

    input {
      @include filter_input($blue_3);
    }
  }
}
