.nav_container {
  background-color: gray;
  border-bottom: 1px solid black;
  padding: 1rem;

  display: flex;
  align-items: center;
}

.logo_container {
  img {
    width: 40%;
    height: 40%;
  }
}

.pages_container {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  gap: 2rem;

  > span {
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
