@import "../../../styles/app.scss";

.container {
  @include app-width;
  margin-top: 2rem;

  .top_buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;

    p {
      margin-right: auto;
      font-weight: 700;
      font-size: 1.5rem;
    }

    button {
      @include media_button;
    }
  }

  .media_container {
    display: grid;
    grid-template-columns: 79.5% 19.5%;
    column-gap: 1%;
    height: 380px;
    margin-top: 1rem;

    .main_image {
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 0.1rem;

      .next_btn_container {
        position: absolute;
        top: 50%;
        right: 15px;
      }
    }

    .thumbs_container {
      margin: 0;
      padding: 0.2rem;
      overflow-y: hidden;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      border-radius: 0.1rem;

      .img_container,
      .img_container_active {
        margin-bottom: 0.5rem;
      }

      .img_container_active {
        border: 2px solid aqua;
        border-radius: 0.4rem;
      }

      .img_container {
        border: 2px solid white;
      }
    }
  }
}
